extends all

snippet sri "Sri: Hindi"
श्री
endsnippet

snippet sri "Sri: diacritics"
Śrī
endsnippet

snippet rupa "Rupa: Hindi" i
रूप
endsnippet

snippet rupa "Rupa: diacritics" i
Rūpa
endsnippet

snippet dea
Deadwyler
endsnippet

snippet turntables
[@I][:+:][@I]
endsnippet
